{% extends 'base.html' %}

{% block title %}
    Category Page
{% endblock title %}

{% block content %}
        <table class="table">
            <thead>
              <tr>
                
                <td><a href="/details_cate/1">รายวิชาศึกษาทั่วไป</a></td>
              </tr>
              <tr>
                
                <td><a href="/details_cate/2">รายวิชาเฉพาะทาง</a></td>
              </tr>
              <tr>
                
                <td><a href="/details_cate/3">รายวิชาเลือก</a></td>
              </tr>
            </thead>
            <tbody>
              
            </tbody>
          </table>
{% endblock content %}